/*********************************************
 * 
 * note
 * 全てコメントアウトノート
 * 
*********************************************/

/*--------------------------------

	セレクタ　正規表現
    前方一致「^」
	
--------------------------------*/
/*
div [class^="box"] {
    background:blue;
}
*/





/*--------------------------------

	セレクタ　正規表現
    後方一致「$」
	
--------------------------------*/
/*
div [class$="blue"] {
  background:blue;
}
*/





/*--------------------------------

	セレクタ　正規表現
    部分一致「*」
	
--------------------------------*/
/*
div [class*="hoge"] {
  background:blue;
}
*/





/*--------------------------------

	メディアクエリ
	
--------------------------------*/
// タブレット
/*
@include global.mq-tab {

}
*/





/*--------------------------------

	ミックスイン
  左右中央寄せ
    ●width設定必須
	
--------------------------------*/
// @include global.yoko-center(0000px);




/*--------------------------------

	Dart Sass用除算
	
--------------------------------*/
// @use "sass:math"; /* sassファイル行頭で記述 */
// .test {
//   width: math.div(50px, 100);
// }





/*********************************************
 * 
 * コメントアウト例
 * 一番強い
 * 
*********************************************/
/*--------------------------------
  
  コメントアウト例
  二番目に強い

--------------------------------*/
/* ━━━━━━━━━━━━━━━━━━━━ コメントアウト例 ━━━━━━━━━━━━━━━━━━━━ */
/* コメントアウト例 */
// コメントアウト例