/*********************************************
 * 
 * test-check
 * 
 * 特定の要素に目印として色をつけたりボーダーを
 * 設定したいときに使う。
 * このファイルと読み込みを削除すれば、テスト用の
 * スタイルは綺麗になくなるという狙い。
 * 
*********************************************/
/*--------------------------------

	use
	
--------------------------------*/
@use "global";



header {
	background: lightblue;
}

footer {
	background: lightcoral;
}

.menu-icon {
	border: 1px solid red;
}