/*********************************************
 * 
 * flexbox
 * フレックスボックス専用
 * 
*********************************************/
/*--------------------------------

	use
	
--------------------------------*/
@use "../setting";



/*--------------------------------

	横並び
	
--------------------------------*/
@mixin flexbox-yoko {

    display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
    
}