/*********************************************
 * 
 * position
 * 横のみセンター、縦横センター等
 * 
*********************************************/
/*--------------------------------

	use
	
--------------------------------*/
@use "../setting";



/*--------------------------------

	左右中央寄せ
    ●width設定必須
	
--------------------------------*/
@mixin yoko-center($hikisuu) {
    width: $hikisuu;
    margin-right: auto;
	margin-left: auto;
}



/*--------------------------------

	左右中央寄せ
    ●width設定必須（%指定）
	
--------------------------------*/
@mixin yoko-center-per($hikisuu) {
    width: $hikisuu;

    $hikisuu2: (100 - $hikisuu) * 0.5;

    margin-right: $hikisuu2;
	margin-left: $hikisuu2;
}



/*--------------------------------

	縦横中央寄せ
    ●親要素……divとかpとか
    ●子要素……img
	
--------------------------------*/
@mixin tateyoko-center-img {
    /* ********** 縦横中央寄せ 親 START ********** */
    position: absolute;
    left: 50%;
    top: 50%;
    /* ********** 縦横中央寄せ 親 END ********** */

    & img {
        /* ********** 縦横中央寄せ 子 START ********** */
        transform: translate(-50%, -50%);
        /* ********** 縦横中央寄せ 子 END ********** */
    }
}



/*-------------------------------------

	フレックスボックス　縦横中央
    ・中央寄せしたい要素の外側に適用する
	
-------------------------------------*/
@mixin tateyoko-center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}