/*********************************************
 * 
 * header
 * 
*********************************************/
/*--------------------------------

	use
	
--------------------------------*/
@use "../global";


.header {
	position: fixed;
	inset: 0 auto auto auto;
	
	z-index: 6;
}