/*********************************************
 * 
 * ブレイクポイント
 * 
*********************************************/
// スマートフォン用のみ最大値、他は最小値
$bp-sp:599px;
$bp-tab:600px;
$bp-pc:1080px;
$bp-large:1500px;

// スマートフォン用最小基準値。場合によっては使う。
$bp-sp-min:375px;