/*********************************************
 * 
 * 変数：色
 * 
*********************************************/

// 灰色（明るめ）
$color-light-gray:#dedede;

// 灰色（濃いめ）
$color-gray:#666464;

// 灰色（もっと濃いめ）
$color-dark-gray:#404040;

// 赤（暗め）
$color-dark-red: #b23015;

// 紺色
$color-dark-blue:#012f65;